/*
@font-face {
	font-family: 'Arial';
	src: url('../fonts/arial/arial.eot');
	src: local('Arial'), url('../fonts/arial/arial.woff') format('woff'), url('../fonts/arial/arial.ttf') format('truetype');
}
*/
html, body {
  height: 100%;
  overflow: hidden;
}

#mainframe {
  width: 100% !important;
  /*height: 100% !important;*/
}

.h-hotspot > div {

  height:100%;

}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
.sr-only {
  position: absolute; /* Take out of normal document flow */
  width: 1px; /* Collapse width */
  height: 1px; /* Collapse height */
  padding: 0; /* Remove any padding */
  margin: -1px; /* Remove from visible space */
  overflow: hidden; /* Hide overflowing content */
  clip: rect(0, 0, 0, 0); /* Clip to an invisible rectangle */
  white-space: nowrap; /* Prevent text wrapping */
  border: 0; /* Remove borders */
}
.inline-heading{
  display: inline-block;
}
.dialog_body p:first-child{
  margin-top: 0em;
}
.h-hotspot
{
  position: relative; 
  margin: 0 auto;
  height: 100%;
  width:auto;
  max-width: 650px;
  /*font-family: 'Arial';*/
}

#framecontainer{ 
  width: 638px;
  height: 722px;
  position: relative;
  margin: auto 0;
  border: 1px solid #000000;
}

#mainframe{
  width: 640px;
  height: 600px;
}

#pageHolder{
  width: 640px;
  height: 730px;
  position: relative;
  margin: auto 0; 
}

.h-hotspot  p{
	padding: 7px;
}
.h-hotspot .hotspot-txt{
    height: 50px;
}
.h-hotspot .popup
{
    position: absolute;
    width: 580px;
    height:5000px;
    overflow: auto;
    background-color: rgba(232, 232, 232, 0.92);
    padding: 5px;
    padding: 5px;
    top: 15%;
}
.h-hotspot .commentParagraph{
	border: 1px solid black;
  background: #d0cdcd;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
}
.h-hotspot .hotspot .notselected{
  background: white;
  z-index: 2;
}

.h-hotspot .hotspot .selected{
background: rgb(254,252,234);
background: -moz-radial-gradient(center, ellipse cover, rgba(254,252,234,1) 33%, rgba(241,218,54,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(254,252,234,1) 33%,rgba(241,218,54,1) 100%);
background: radial-gradient(ellipse at center, rgba(254,252,234,1) 33%,rgba(241,218,54,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 );
}	
.h-hotspot .hotspot .notselected{
	background-color: FFF !important;
}
.h-hotspot .hotspot > div{
	border: 2px solid black;
	border-radius: 25px;
	text-align: center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
     cursor: pointer;
     line-height: 23px;
     width: 23px;
     height:23px;
}


/* ------------------------------------------------------------------------- MOdel Css ------------------------------------------------------------*/

.h-hotspot .modalbg {
  position: fixed;
  /*font-family: 'Arial';*/
  font-family: Georgia, serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -transition-delay: 0.1s;
  display: none;
  pointer-events: none;
}
.h-hotspot .modalbg .dialog {
  width: 65%;
  position: relative;
  bottom: -1000px;
  margin: 170px auto 0px;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.h-hotspot .modalbg .dialog_body {
  max-height: 500px;
  overflow: auto;
}
.title-wrap {
  display: flex;
  position: relative;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.h-hotspot .titleContainer{
	/*position: absolute;*/
  font-weight: 600;
  /*top: -34px;
  left:60px;*/
  font-size: 1.2em;
  /*padding: 10px 5px;*/
  margin: 6px;
}
.h-hotspot .commentButton{
  position: unset;
}
.h-hotspot .modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.h-hotspot .modalbgAnimate {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10, 30, 0.4);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.h-hotspot .modalbgAnimate .dialog {
  bottom: 155px;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -transition-delay: 0.1s;
}
.h-hotspot .close {
  background: #333333;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #333333;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /*box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;*/
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -transition-delay: 0.1s;
}
.h-hotspot .close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.h-hotspot .close:hover {
  background: #027DB6;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
  border: 2px solid #016F9B;
}
.h-hotspot .fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}

.h-hotspot .button {
	font-size: 17px;
	background:#027DB6;	
	/*width: 125px;*/
	color:#FFFFFF;
  margin: 0px;
  /*font-size: 20px;
  font-family: 'Arial';*/
  font-family: Georgia, serif;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
  padding: 5px 15px;
  position: absolute;
  margin: 5px 0px;
  border: 2px solid #016F9B;
  right: 0;
  box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  -webkit-box-shadow: 1px 1px 1px #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  text-align: center;
}
.h-hotspot .button:hover{
  background:#016F9B;	
}
 .h-hotspot .hotspot_popup{
    width: 150px;
    position: absolute;
    display: none;
 }
#nomargin{
  /*margin: -10px 0px 0px -10px;*/
}

:focus-visible{
outline: 2px solid #EB6500;
}


iframe.activityframe {
	overflow: hidden;
	scrollbar-width: none; /* Firefox */
	border: none;
}

iframe.activityframe::-webkit-scrollbar {
    display: none;
}
.h-hotspot .button.commentButton{
  font-size: 17px;
}

.clinicalHeading{
  margin-top: 0.5em;
  margin-bottom: 0em;
  color: #7A3D00;
  text-indent: 0em;
  font-weight: bold;
  font-size: 16px;
}
h3.commentHeading{
  font-size: 110%;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  color: #2C5E6D;
  padding: 0 7px;
}

p.text{
  text-indent: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

p.textfl{
  text-indent: 0rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2#dialogTitle{
  font-weight: 600;
  font-size: 20px;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}

@media (max-width: 915px){
  /*.h-hotspot .titleContainer {
    top: -52px;
    left: 4px;
  }*/
  #mainframe {
    width: 480px;
    height: 380px;
  }
  /*
  .h-hotspot .button {
    left: 20%;
  }
  */

  .h-hotspot .modalbg .dialog_body{
    max-height: 250px;
  }
  .dialog #dialogTitle{
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .dialog hr{margin: 0px;}
}

@media (max-width: 650px){
  #mainframe{
    width: 552px;
    height: 628px;
  }

  .h-hotspot
  {
    height: 600px;
  }
  .h-hotspot .modalbgAnimate .dialog {
    top: -142px;
  }
  .h-hotspot .modalbg .dialog_body {
    max-height: 190px;
  }
  /*
  .h-hotspot .button {   
      left: 73.5%;
  }
  */
  /*.h-hotspot .titleContainer {   
    left: 10%;
  }*/
}

@media (max-width: 550px){
  #mainframe{
    width: 486px;
    height: 553px;
  }
  .interactive-wrapper{
    height: 600px;
  }
  .h-hotspot .button { 
    font-size: 18px;
    /*left: 78%;*/
  }
  .h-hotspot
  {
    height: 400px;
  }
  .h-hotspot .modalbg .dialog_body{
    max-height: 310px;
  }   
  #firstname { 
    background-color: yellow;
  }
  /*.h-hotspot .titleContainer {    
    top: -37px;
    left: 26px;
  }*/
}

@media (max-width: 420px){
  /*.h-hotspot .titleContainer {
    top: -52px;
    left: 4px;
  }*/
  #mainframe {
    width: 368px;
    height: 422px;
  }
  .interactive-wrapper{
    height: 600px;
  }
  /*
  .h-hotspot .button {
    left: 71%;
  }
  */
  .h-hotspot .modalbgAnimate .dialog{
    top: 0px;
    margin-top: 15px;
  }
  .h-hotspot .modalbg .dialog_body{
    max-height: 115px;
  }
  .dialog #dialogTitle{
    margin: 0px;
  }
  .dialog hr{margin: 0px;}
}

@media (max-width: 340px){ 
  #mainframe{
    width: 100%;
    height: 308px;
  }
  .h-hotspot .titleContainer {
    font-size: 15px;
    left: 0px;
    margin-top: 9px;
  } 
  .h-hotspot .button{
    /*left: 62%;*/
    font-size: 15px;
    bottom: 5px;
  }  
  .h-hotspot
  {
    height: 260px;
  }

  .h-hotspot .modalbg .dialog_body{
    max-height: 166px;
  }
} 

@media only screen 
  and (min-device-width: 320px)  
  and (-webkit-min-device-pixel-ratio: 2) {
  .h-hotspot
  {
    height: 100%;
  }
  /*.h-hotspot .titleContainer {
    font-size: 15px;
    width: 270px;
  }*/

  #mainframe{
    width: 290px;
    height: 450px;
    margin-top: 20px;
  }
  .h-hotspot .button { 
    font-size: 15px;
    /*left: 62%;*/
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .h-hotspot
  {
    height: 100%;
  }
  /*.h-hotspot .titleContainer {
    font-size: 15px;
    width: 270px;
  }*/

  #mainframe{
    width: 350px;
    height: 450px;
    margin-top: 20px;
  }

  .h-hotspot .button { 
    font-size: 15px;
    /*left: 74%;*/
  }
      
}

@media only screen 
  and (min-device-width: 414px)  
  and (-webkit-min-device-pixel-ratio: 3) {
  .h-hotspot
  {
    height: 100%;
  }  

  /*
  .h-hotspot .titleContainer {
    font-size: 18px;
    top: -40px;
    left: 3px;
    width: 360px;
  }
  */

  #mainframe{
    width: 380px;
    height: 450px;
    margin-top: 20px;
  }

  .h-hotspot .button { 
    font-size: 18px;
    /*left: 24%;*/
  }
}

@media only screen 
  and (min-device-width: 768px)  
  and (-webkit-min-device-pixel-ratio: 1) {
  #mainframe{
    width: 640px;
    height: 730px;
  }
  .h-hotspot .titleContainer{
    position: absolute;
    width: 100%;
    font-weight: 600;
    /*top: -34px;
    left:60px;*/
    font-size: 20px;
  }
  .h-hotspot .button { 
    font-size: 20px;
    /*left: 66%*/
  }
}